<nav class="navbar navbar-default navbar-fixed-top" role="navigaion">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">
        Веб Фактурирање
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" id="navigation">
        <li class="active" style="display:none"><a href="/#home"></a></li>
        <li><a ng-href="#/">Почетна</a></li>
        <li><a ng-href="#/invoices" ng-if="$root.user">Фактури</a></li>
        <li><a ng-href="#/partners" ng-if="$root.user">Партнери</a></li>
        <li><a ng-href="#/items" ng-if="$root.user">Артикли</a></li>
        <li class="login"><a ng-href="#/register" ng-if="!$root.user">Регистрација</a></li>
        <!-- <li class="divider"></li> -->
        <li class="login">
          <a ng-href="#/login" ng-if="!$root.user">
            <span>Најава</span>
          </a>
        </li>
        <li class="login"><a ng-href="" ng-if="$root.user">{{$root.user.username}}</a></li>
      </ul>
    </div>
  </div>
</nav>

