<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="invoice-title">
        <h2>Invoice</h2><h3 class="pull-right">Order # {{ entity.id }}</h3>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <address>
            <strong>Billed To:</strong><br>
            {{ entity.partner.name }}<br>
            {{ entity.partner.address.name }}
            {{ entity.partner.address.postalCode }}<br>
            {{ entity.partner.address.city }}<br>
          </address>
        </div>
        <div class="col-xs-6 text-right">
          <address>
            <strong>Issue Date:</strong><br>
            {{ issueDate }} <br><br>
          </address>

          <address>
            <strong>Maturity Date:</strong><br>
            {{ maturityDate }}<br><br>
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <address>
            <strong>Currency:</strong><br>
            {{ entity.currency.name }}<br>
          </address>

          <address>
            <strong>Payment Method:</strong><br>
            {{ entity.paymentType.name }}<br>
          </address>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Order summary</strong></h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
              <tr>
                <td><strong>Item</strong></td>
                <td class="text-center"><strong>Price</strong></td>
                <td class="text-center"><strong>Tax</strong></td>
                <td class="text-center"><strong>Quantity</strong></td>
                <td class="text-right"><strong>Totals</strong></td>
              </tr>
              </thead>
              <tbody>

              <!-- foreach ($order->lineItems as $line) or some such thing here -->
              <tr ng-repeat="invoiceItem in entity.invoiceItems">
                <td>{{ invoiceItem.item.name }}</td>
                <td class="text-center">{{ invoiceItem.item.currency.name }} {{ invoiceItem.item.price }}</td>
                <td class="text-center">{{ invoiceItem.item.tax.value }}%</td>
                <td class="text-center">{{ invoiceItem.quantity }}</td>
                <td class="text-right">{{ invoiceItem.item.currency.name }} {{ invoiceItem.item.price * (invoiceItem.item.tax.value / 100 + 1) * invoiceItem.quantity }}</td>
              </tr>

              <tr>
                <td class="thick-line"></td>
                <td class="thick-line"></td>
                <td class="thick-line"></td>
                <td class="thick-line text-center"><strong>Subtotal</strong></td>
                <td class="thick-line text-right">{{ entity.totalPrice }}</td>
              </tr>
              <tr>
                <td class="no-line"></td>
                <td class="no-line"></td>
                <td class="no-line"></td>
                <td class="no-line text-center"><strong>Tax</strong></td>
                <td class="no-line text-right">{{ entity.currency.name }} {{ entity.totalTax }} </td>
              </tr>
              <tr>
                <td class="no-line"></td>
                <td class="no-line"></td>
                <td class="no-line"></td>
                <td class="no-line text-center"><strong>Total</strong></td>
                <td class="no-line text-right">{{ entity.currency.name }} {{ entity.totalPrice + entity.totalTax }}</td>
              </tr>
              <tr>
                <td class="no-line"></td>
                <td class="no-line"></td>
                <td class="no-line"></td>
                <td class="no-line"></td>
                <td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
