<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="panel panel-default masterPanel">

        <div class="form-group">
          <label>Пребарај:
            <input class="form-control" ng-model="search.$"></label>

          <a href="#/new_invoice">
            <button type="button" class="btn btn-success btn-lg pull-right">
              Креирај фактура <span class="glyphicon glyphicon-plus"></span>
            </button>
          </a>

        </div>


        <div class="table-responsive">
          <table class="table table-hover table-striped masterTable">
            <thead>
            <tr>
              <th> Шифра</th>
              <th> Партнер</th>
              <th> Тип на плаќање</th>
              <th> Валута</th>
              <th> ДДВ</th>
              <th> Вкупно без ДДВ</th>
              <th> Вкупно со ДДВ</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="invoice in entities track by id | filter:search:strict" >
              <td>
                <a
                  href=""
                  ng-click="showInvoice(invoice.id)">
                  {{ invoice.id }}
                </a>
              </td>
              <td>{{ invoice.partner.name }}</td>
              <td>{{ invoice.paymentType.name }}</td>
              <td>{{ invoice.currency.name }}</td>
              <td>{{ invoice.totalTax | number:2 }}</td>
              <td>{{ invoice.totalPrice | number:2 }}</td>
              <td>{{ invoice.totalTax + invoice.totalPrice | number:2 }}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
</div>

