<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createItemModal">
        Креирај артикл
      </button>
      <hr>
      <div class="list-group hidden-xs hidden-sm">
        <button
          class="list-group-item"
          ng-class="{'active':selectedCategory === 'all'}"
          ng-click="getItems(-1); selectedCategory = 'all'">
          Сите </button>
        <button
          class="list-group-item"
          ng-class="{'active':selectedCategory === 'services'}"
          ng-click="getItems(2); selectedCategory = 'services'">
          Услуги
        </button>
        <button
          class="list-group-item"
          ng-class="{'active':selectedCategory === 'products'}"
          ng-click="getItems(1); selectedCategory = 'products'">
          Производи
        </button>
      </div>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default masterPanel">
        <div class="table-responsive">
          <table class="table table-hover table-striped masterTable">
            <thead>
            <tr>
              <th> Aртикл</th>
              <th> Тип</th>
              <th> Цена со ДДВ</th>
              <th> ДДВ %</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in entities">
              <td>
                <a
                  href=""
                  data-toggle="modal"
                  data-target="#itemDetailsModal"
                  ng-click="showItem(item)">
                  {{ item.name }}
                </a>
              </td>
              <td>{{ item.category.name }}</td>
              <td>{{ item.currency.name }} {{ item.price * (1 + item.tax.value/100) | number:2}}</td>
              <td>{{ item.tax.name }} {{ item.tax.value }} %</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>

    </div>



    <div class="modal fade" id="createItemModal" tabindex="-1" role="dialog" aria-labelledby="createItemModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="createItemModalLabel"> Нов артикл </h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="" class="control-label"> Aртикл </label>
              <input ng-model="entity.name" class="form-control" type="text">
            </div>

            <div class="form-group">
              <label for="" class="control-label"> Тип </label>
              <select class="form-control" ng-options="item as item.name for item in categories" ng-model="entity.category"></select>
            </div>

            <div class="form-group">
              <label for="" class="control-label"> Валута </label>
              <select class="form-control" ng-options="item as item.name for item in currencies" ng-model="entity.currency"></select>
            </div>

            <div class="form-group">
              <label for="" class="control-label"> Цена без ДДВ </label>
              <input ng-model="entity.price" class="form-control" type="number" value="">
            </div>

            <div class="form-group">
              <label for="" class="control-label"> ДДВ </label>
              <select class="form-control" ng-options="item as item.value for item in taxes track by item.id" ng-model="entity.tax"></select>
            </div>

            <div class="form-group">
              <label for="newArticlePrice" class="control-label"> Цена со ДДВ </label>

              <input ng-model="newArticlePriceWithTax" id="newArticlePrice" class="form-control" type="text" disabled>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" ng-click="save(entity)" class="btn btn-primary" data-dismiss="modal">
              Креирај
            </button>
          </div>
        </div>
      </div>
    </div>



    <div class="modal fade" id="itemDetailsModal" tabindex="-1" role="dialog" aria-labelledby="itemDetailsModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="itemDetailsModalLabel"> Детали за артиклот </h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="" class="control-label"> Aртикл </label>
              <input ng-disabled="disabled" ng-model="selectedItem.name" class="form-control" type="text">
            </div>

            <div class="form-group">
              <label for="" class="control-label"> Тип </label>
              <!--<select ng-model="selectedItem.category" class="form-control" ng-options="item as item.name for item in categories"></select>-->
              <select
                class="form-control"
                ng-disabled="disabled"
                ng-model="selectedItem.category"
                ng-options="opt as opt.name for opt in categories track by opt.name"></select>
            </div>

            <div class="form-group">
              <label for="" class="control-label"> Валута </label>
              <select
                class="form-control"
                ng-disabled="disabled"
                ng-model="selectedItem.currency"
                ng-options="opt as opt.name for opt in currencies track by opt.name"></select>
            </div>

            <div class="form-group">
              <label for="" class="control-label"> Цена без ДДВ </label>
              <input ng-disabled="disabled" ng-model="selectedItem.price" class="form-control" type="number" value="">
            </div>

            <div class="form-group">
              <label for="" class="control-label"> ДДВ </label>
              <select
                ng-disabled="disabled"
                class="form-control"
                ng-model="selectedItem.tax"
                ng-options="opt as opt.value for opt in taxes track by opt.value"></select>
            </div>

            <div class="form-group">
              <label for="" class="control-label"> Цена со ДДВ </label>
              <input ng-disabled="disabled" ng-model="selectedItem.priceWithTax" class="form-control" type="text" disabled>
            </div>
          </div>
          <div class="modal-footer">
            <button ng-show="disabled" class="btn btn-default pull-left" ng-click="disabled = !disabled"> Измени </button>
            <button ng-show="!disabled" class="btn btn-default pull-left" ng-click="save(selectedItem)">
              Зачувај
            </button>
            <button class="btn btn-danger pull-left"
                    confirmation-needed="Дали сте сигурни дека сакате да го избришете овој артикл?"
                    ng-click="remove(selectedItem.id);">
              Избриши
            </button>
            <button type="button" id="closeDetailsModal"class="btn btn-primary" data-dismiss="modal">
              Затвори
            </button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

