<section id="landing">
  <div id="opaqueBackground" class=""></div>
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 text-center">
        <h1>Сè што Ви е потребно за Вашиот бизнис!</h1>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 text-center">
        <p class="lead">
          Бесплатна</em> и <em>најсовремена</em> веб апликација за фактурирање.<br>
          Работете преку паметен телефон, таблет или лаптоп; во секое време!
        </p>
      </div>
      <div class="col-md-1"></div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <a ng-href="#/register" class="btn btn-primary btn-lg btn-block btnRegister hidden-xs">
          Регистрирај се <strong>бесплатно</strong> веднаш!
        </a>
        <a ng-href="#/register" class="btn btn-primary btn-lg btn-block btnRegister hidden-sm hidden-md hidden-lg">
          Регистрирај се <br><strong>бесплатно</strong> веднаш!
        </a>
        <p style="margin-top:8px;" class="text-center">
          <strong style="text-transform:uppercase;">Засекогаш Бесплатно!</strong><br>
          <i class="fa fa-info-circle"></i>
          Без комплицирани инсталации, без месечни одржувања, без скапи сервери!
        </p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
